*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: linear-gradient(rgb(54, 29, 197), rgb(237, 7, 7));
  height: 100vh;
  overflow: hidden;
}
.title {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
 form {
  
  margin-top: 200px;
  width: 80% !important;


}  

.items {
 
  border-radius: 20px;
  width: 80%;
  margin: auto;

}
.input{
  border-top-left-radius: 20px;
  border: 1px solid black;
  padding-left: 10px;
  padding: 10px;
 
}

/* @media only screen and (max-width: 480px)
{
  form{
   
  }
} */
